.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto !important;
  max-width: 70%;
  min-height: calc(100vh - 15rem);
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  border: none !important;
  box-shadow: none !important;
}

.textContainerSpacing {
  padding: 3em;
}

@media (min-width: 480px) {
  .mainContainer {
    display: block;
  }
}
